<div class="post-card">

    <div class="post-top">

        <img
            class="avatar"
            src="https://placehold.co/42x42"
            alt="avatar">

        <div class="user-info">

            <div class="author">
                {{ post.nickname }}
            </div>

            <div class="date">
                {{ post.createdAt | date:'dd.MM.yyyy HH:mm' }}
            </div>

        </div>

    </div>

    <div class="post-text">
        {{ post.text }}
    </div>

    @if(post.image && post.image !== ''){

        <div class="image-wrapper">

            <img
                class="post-image"
                [src]="'http://localhost:5001/' + post.image"
                alt="post">

        </div>

    }

    <div class="post-bottom">

        <div
            class="action"
            [class.liked]="liked"
            (click)="toggleLike()">

            <span class="heart">

                ❤️

            </span>

            <span>

                {{ likes }}

            </span>

        </div>

        <div
            class="action"
            (click)="toggleComments()">

            💬

            <span>

                {{ post.commentsCount }}

            </span>

        </div>

    </div>

</div>