<div class="post-card">

    <div class="post-top">

        @if(post.userPhoto){

            <img
                class="avatar"
                [src]="'http://localhost:5001/' + post.userPhoto"
                alt="avatar">

        }
        @else{

            <div class="avatar"></div>

        }

        <div class="user-info">

            <div class="author">
                {{ post.nickname }}
            </div>

            <div class="date">
                {{ post.createdAt | date:'dd.MM.yyyy HH:mm' }}
            </div>

        </div>

    </div>

    <div class="post-text">
        {{ post.text }}
    </div>

    @if(post.image && post.image !== ''){

        <div class="image-wrapper">

            <img
                class="post-image"
                [src]="'http://localhost:5001/' + post.image"
                alt="post">

            @if(showComments){

                <div class="comments-popup">

                    <input
                        type="text"
                        placeholder="Напишите комментарий..."
                        [(ngModel)]="newComment"
                        (keyup.enter)="addComment()">

                    <div class="comments-list">

                        @for(comment of comments; track comment.id){

                            <div class="comment-item">

                                @if(comment.userPhoto){

                                    <img
                                        class="comment-avatar"
                                        [src]="'http://localhost:5001/' + comment.userPhoto">

                                }
                                @else{

                                    <div class="comment-avatar"></div>

                                }

                                <div class="comment-content">

                                    <div class="comment-author">

                                        {{ comment.nickname }}

                                    </div>

                                    <div class="comment-text">

                                        {{ comment.text }}

                                    </div>

                                </div>

                            </div>

                        }

                    </div>

                </div>

            }

        </div>

    }

    <div class="post-bottom">

        <div
            class="action"
            [class.liked]="liked"
            (click)="toggleLike()">

            <span class="heart">

                ❤️

            </span>

            <span>

                {{ post.likesCount }}

            </span>

        </div>

        <div
            class="action"
            (click)="toggleComments()">

            💬

            <span>

                {{ post.commentsCount }}

            </span>

        </div>

    </div>

</div>