.header{
    height:70px;
    background:#dfe6ec;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 40px;

    border-bottom:1px solid #c9d1d8;
}

.logo{
    text-decoration:none;
    color:white;

    font-size:34px;
    font-weight:bold;
    font-style:italic;
    letter-spacing:2px;
}

nav{
    display:flex;
}

nav a{

    width:120px;
    height:70px;

    display:flex;
    justify-content:center;
    align-items:center;

    text-decoration:none;
    color:#444;

    border-left:1px solid #c9d1d8;

    transition:.2s;
}

nav a:hover{

    background:#d2dae1;

}

.user-panel{

    display:flex;

    height:70px;

}

.user-info{

    display:flex;

    align-items:center;

    gap:12px;

    padding:0 18px;

    border-left:1px solid #c9d1d8;

}

.avatar{

    width:42px;

    height:42px;

    border-radius:50%;

    object-fit:cover;

}

.nickname{

    color:#444;

    font-size:15px;

}

.logout-button{

    width:70px;

    height:70px;

    display:flex;

    justify-content:center;

    align-items:center;

    border:none;

    border-left:1px solid #c9d1d8;

    background:#dfe6ec;

    cursor:pointer;

    transition:.2s;

}

.logout-button:hover{

    background:#d2dae1;

}

.logout-icon{

    width:22px;

    height:22px;

}