<header class="header">

    <a routerLink="/" class="logo">
        SURF.RU
    </a>

    <nav>

        @if(user){

            <div class="user-panel">

    <div class="user-info">

        <img
            class="avatar"
            [src]="'http://localhost:5001/' + user.photo"
            alt="avatar">

        <span class="nickname">
            {{ user.nickname }}
        </span>

    </div>

    <button
        class="logout-button"
        (click)="logout()">

        <svg class="logout-icon"
             viewBox="0 0 24 24"
             fill="none"
             stroke="currentColor"
             stroke-width="2">

            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
            <polyline points="16 17 21 12 16 7"/>
            <line x1="21" y1="12" x2="9" y2="12"/>

        </svg>

    </button>

</div>

        }

        @else{

            <a routerLink="/login">
                Войти
            </a>

            <a routerLink="/register">
                Регистрация
            </a>

        }

    </nav>

</header>