.page{

    min-height:calc(100vh - 70px);

    display:flex;
    justify-content:center;
    align-items:center;

    background:#ffffff;

}

.login-card{

    width:420px;

    background:white;

    border:4px solid #d7dbe3;

    border-radius:10px;

    padding:40px;

    box-sizing:border-box;

}

.login-card h2{

    margin-top:0;
    margin-bottom:35px;

    font-size:30px;

    font-weight:300;

    color:#666;

}

.login-card label{

    display:block;

    margin-bottom:8px;
    margin-top:18px;

    color:#666;

}

.login-card input{

    width:100%;

    height:45px;

    border-radius:8px;

    border:1px solid #d6d6d6;

    padding:10px;

    box-sizing:border-box;

    font-size:16px;

}

.login-card input:focus{

    outline:none;

    border-color:#8da5bb;

}

.login-card button{

    width:130px;

    height:45px;

    display:block;

    margin:40px auto 0;

    background:#dfe6ec;

    border:1px solid #c7d0d7;

    cursor:pointer;

    font-size:16px;

}

.login-card button:hover{

    background:#d3dce3;

}